*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Quicksand', Arial;
    font-weight:100;
    font-size: 0.9rem;
    color: rgb(238, 238, 238)

}

body {
    background-color:#352f5e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.device {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: minmax(110px, auto) repeat(5, 70px);
    background: linear-gradient(32deg, rgba(16,228,224,1) 0%, rgba(3,21,62,1) 78%);
    border-radius: 18px;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    border: 1px solid rgb(22, 56, 89, 0.1);
    outline: none;
    background-color: transparent;
    transition: 100ms;
}

button:hover { border-color: rgba(3, 190, 134, 0.3); } 

button:last-child {
    border-bottom-right-radius: 18px;
}

button:nth-last-child(3) {
    border-bottom-left-radius: 18px;
}

.bg-size {
    font-size: 1.6rem;
    padding-bottom: 5px;
}

.lighter-col { background-color: rgba(238, 238, 238, 0.1) }
.light-col { background-color: rgba(238, 238, 238, 0.03) }

.doble-size {
    grid-column: span 2;
  }

.screen {
    grid-column: 1 / -1;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.screen .current-operand {
    color: rgba(255, 255, 255, 0.8);
    font-size: 2.5rem;
}

.screen .previous-operand {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
}
